body{
	background-color: #000000;	
	align-items: center;
	margin: 0%;
}

.login{
	background-color: #490101;
	color: #fff;
	width: 25%;
	margin-left: 37%;
	height: 50%;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10%;
}

h2{
	font-family: sans-serif;
	margin-left: 37%;
	font-size: 30px;
	margin-top: 35px;
	cursor: default;
}

.email{
	height: 30px;
	margin-left: 5%;
	margin-top: 35px;
	font-size: 18px;
	width: 90%;
}

.botaologin{
	background-color: #45BCCC;
	padding: 10px;
	width: 30%;
	font-size: 15px;
	font-family: monospace;
	margin-top: 15%;
	margin-left: 35%;
	border: none;
	cursor: pointer;
}

.menu{
	width: 100%;
	height: 10%;
	background-color: #490101;
}

.menuanimes a{
	color: #fff;
	font-size: 25px;
	margin-left: 5rem;
	font-family: Arial;
	font-weight: bold;
	text-decoration: none;
	margin-top: 1.5%;
	transition: 0.5s;
	position: absolute;
}

.menuanimes a:hover{
	color:#0c8c88;
	border-top: 4px solid #0c8c88;
	border-bottom: 4px solid #0c8c88;
}

.teaserop{
	margin: 5%;
	position: absolute;
	border: solid 8px #0c8c88;
}

.textop{
	color: #fff;
	background-color: rgb(136, 132, 132, 0.5);
	width: 50%;
	height: 40px;
	margin-left: 5.56%;
	font-family: arial;
	position: absolute;
	margin-top: 25.56rem;
}

h1{
	font-size: 25px;
	margin-left: 13%;
	margin-top: 5px;
}

.populares{
	background-color: #0c8c88;
	position: absolute;
	margin-left: 70%;
	color: #fff;
	margin-top: 5%;
	width: 25%;
	font-family: Arial;
}

h3{
	margin-left: 25%;
}

.animesp{
	border: solid 1px #0c8c88;
	margin-left: 70%;
	width: 24.9%;
	margin-top: 9%;
	min-height: 51rem;
}

.cartaz{
	margin-top: 8px;
	width: 99%;
	height: 25%;
}

.wano{
	width: 9%;
	margin-left: 5px;
}

.wanotxt{
	font-size: 20px;
	color: #fff;
	margin-left: 40%;
	font-family: arial;
	font-weight: bold;
	-webkit-text-stroke-width: 1.1px;
    -webkit-text-stroke-color: #304D4A;
}

.logo{
	width: 4%;
	margin-top: 0.5%;
}

.perfil{
	width: 4%;
	height: 8%;
	position: absolute;
	margin-top: 0.5%;
}